* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  position: relative;
}

.fifa-card {
  height: 50dvh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .fifa-card, .player-image, .player-age, .player-nationality, .player-image-blurred, .player-position, .player-team-logo {
  position: absolute;
  top: 0;
  left: 0;
} */

.player-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -63%);
  background-color: transparent;
}

.player-image-blurred {
  filter: blur(50px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -63%);
  background-color: transparent;
}

.player-position {
  position: absolute;
  z-index: 1;
}

.player-age {
  z-index: 1;
  top: 25%;
  left: 25%
}

.player-team-logo {
  z-index: 1;
  background-color: transparent;
  top: 42%;
  right: 25%;
  width: 15%;
}

.player-nationality {
  z-index: 1;
  background-color: transparent;
  top: 43%;
  width: 15%;
  left: 25%;
}

.user-input input{
  border: 1px solid black;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  left: 0%;
  bottom: 20%;
}


