* {
  margin: 0;
  padding: 0;
}

.game-container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
}

.fifa-card {
  /* width: 40dvw; */
  height: 50dvh;
  margin-top: 20%;
}

.player-image {
  position: absolute;
  height: 8rem;
  z-index: 1;
  margin-top: 55%;
  background-color: transparent;
}

.player-image-blurred {
  filter: blur(50px);
  z-index: 1;
}

.player-position {
  z-index: 1;
  position: absolute;
  top: 19%;
  left: 25%;
}

.player-age {
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 25%
}

.player-team-logo {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 42%;
  right: 25%;
  width: 15%;
}

